{% extends "layout.html" %}
{% block title %}
works
{% endblock %}
{% block main %}
<h1 class="text-6xl font-medium text-center mb-10">LaughingStorm's WORK</h1>

<!-- ADMIN VIEW -->
{% if session["user_id"] %}
<div hx-get="/status" hx-trigger="every 1s">
    <!-- Content here updates automatically -->

<!-- Add Image Form -->
<div id="add-inputs" style="max-width:450px; margin: 0 auto 2rem auto;">
   <form action="/admin/works/add" method="post" enctype="multipart/form-data">
      <div id="inputs">
         <input type="file" name="image" required>
         <input type="text" name="title" placeholder="Title">
         <input type="text" name="alt" placeholder="Alt text" required>
         <input type="number" name="order" placeholder="Order">
      </div>
      <button type="submit">Add</button>
   </form>
</div>

<!-- Admin Gallery -->
<div class="gallery">
   {% for row in images %}
   <div class="overlay-wrap">
      <img src="{{row['path']}}" alt="{{row['alt']}}">
      <div class="item-overlay">
         <form action="/admin/works/delete" method="post">
            <input type="hidden" name="path" value="{{row['path']}}">
            <button type="submit" class="overlay-btn">Delete</button>
         </form>
         <form action="/admin/works/order" method="post">
            <div class="overlay-order-row">
               <label>Order</label>
               <input type="number" name="order" value="{{row['sort_order']}}" class="overlay-order-input">
               <input type="hidden" name="path" value="{{row['path']}}">
               <button type="submit" class="overlay-btn">Set</button>
            </div>
         </form>
      </div>
   </div>
   {% endfor %}
</div>

<!-- PUBLIC VIEW -->
{% else %}
<div class="gallery">
   {% for row in images %}
   <div class="relative">
      <div>
         <img src="{{row['path']}}" alt="{{row['alt']}}">
      </div>
   </div>
   {% endfor %}
</div>
</div>
{% endif %}
{% endblock %}